In [5]:
!pip install pyarrow numpy pandas

Requirement already satisfied: pyarrow in /opt/conda/lib/python3.10/site-packages (10.0.1)
Requirement already satisfied: numpy in /opt/conda/lib/python3.10/site-packages (1.23.4)
Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [23]:
import numpy as np
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

In [24]:
df = pq.read_table("part-00024-48f6ff92-4267-4a45-9460-515ecb3eb069.c000.snappy.parquet").to_pandas()

In [25]:
df = df[['node_uuid', 'point_x', 'point_y', 'point_z', 'r', 'g', 'b']]
df = df[df['point_x'] != 0.0]
df

,node_uuid,point_x,point_y,point_z,r,g,b
129,9af98271-50fb-48e6-bca4-32614c7b0eba,13.926526,-10.346878,5.817120,123,144,188
130,9af98271-50fb-48e6-bca4-32614c7b0eba,14.036861,-10.292088,5.830348,121,145,194
483,9af98271-50fb-48e6-bca4-32614c7b0eba,-2.650132,22.619181,7.513268,125,152,200
484,9af98271-50fb-48e6-bca4-32614c7b0eba,-2.812138,22.606461,7.518510,195,202,222
485,9af98271-50fb-48e6-bca4-32614c7b0eba,-2.982193,22.630428,7.533944,210,204,208
...,...,...,...,...,...,...,...
690739,cb4360de-9f4b-414c-aaac-c68c059d67fd,2.246957,3.686875,-0.334367,0,0,0
690740,cb4360de-9f4b-414c-aaac-c68c059d67fd,2.224316,3.709878,-0.342922,0,0,0
690741,cb4360de-9f4b-414c-aaac-c68c059d67fd,2.196575,3.707889,-0.339529,0,0,0
690742,cb4360de-9f4b-414c-aaac-c68c059d67fd,2.170887,3.716367,-0.341256,0,0,0
690744,cb4360de-9f4b-414c-aaac-c68c059d67fd,2.124055,3.603491,-0.284951,0,0,0

In [26]:
pq.write_table(pa.Table.from_pandas(df), 'point_cloud.snappy.parquet', compression='snappy')